<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../link/head.ejs'); %>
    <style>
      .rouded-recieve {
        border-radius: 15px 30px 30px 15px;
      }

      .rouded-send {
        border-radius: 30px 15px 15px 30px;
      }

      .tabe-hover-row {
        text-align: left;
        transition: 200ms;
      }

      .tabe-hover-row:hover {
        background-color: #fff;
        color: #17a2b8;
        transition: 200ms;
      }

      .rouded-0 {
        border: 0;
      }

      .text-light-not-important {
        color: #f8f9fa;
      }

    </style>
    <title>Falo</title>
</head>

<body style="height: 100vh; position: relative;">
  <%- include('./sidebar.ejs'); %>

    <div id="main">
      <!-- nav -->
      <%- include('./nav.ejs'); %>

        <div class="container-fluid">
          <div class="row flex-lg-nowrap">

            <!-- side contact -->
            <div class="col-12 col-lg-5 col-xl-4 px-0 border-right bg-light"
              style="height: calc(100vh - 54px); overflow-y: scroll; direction: rtl;">

              <div class="row px-3 ">
                <div class="col tabe-hover-row text-center"> 2 <em class="fas fa-users"></em></div>
                <div class="col tabe-hover-row text-center"> 3 <em class="fas fa-bell"></em></div>
                <div class="col tabe-hover-row text-center"> 1 <em class="fas fa-comments"></em></div>
              </div>
              <table class="table" style="direction: ltr;" id="chat_rooms" aria-hidden="true">
                <tbody>
                  <tr>
                    <td class="p-0">
                      <a href="/profile" class="btn w-100 tabe-hover-row">
                        Account email: <%= user.email %>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="p-0">
                      <a href="/profile" class="btn w-100 tabe-hover-row">
                        Account email: <%= user.email %>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- chat box -->
            <div class="col-12 col-lg-7 col-xl-8 bg-white">
              <div class="row" style="height: calc(100vh - 100px); overflow-y: scroll;">
                <table class="table" id="chatbox_table" aria-hidden="true">
                  <tbody>
                  </tbody>
                </table>
              </div>
              <div class="">
                <form id="formChat" class="form row px-2" action="javascript:;"
                  onsubmit="sendMessage(form_message.form[0])">
                  <input type="text" id="form_message" class="col form-control mr-2" autocomplete="off"
                    placeholder="Nhập tin nhắn...">
                  <button type="submit" class="btn btn-info col-4 col-sm-3 col-md-2"><em class="fas fa-paper-plane"></em> SEND</button>
                </form>
              </div>
            </div>

          </div>
        </div>
    </div>
    <%- include('../link/script.ejs'); %>
      <script>
        function sidebar_toogle() {
          $("#main").toggleClass('w-75');
          $("#sidebar").toggleClass('d-block');
          $("#sidebar-close").toggleClass('d-block');
          $("#nav-sidebar-close").toggleClass('d-none');
        }
        const _user = '<%- JSON.stringify(user) %>'
        const _user_profile = '<%- JSON.stringify(user_profile) %>'
        var user = JSON.parse(_user)
        var user_profile = JSON.parse(_user_profile)
        var chatbox_table = document.getElementById('chatbox_table')
        
      </script>
      <script src="/socket.io/socket.io.js"></script>
      <script src="javascripts/chat_socketio.js"></script>
</body>

</html>