<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../link/head.ejs'); %>
    <title>Falo</title>
</head>

<body style="height: 100vh; position: relative;">
  <nav class="navbar navbar-dark bg-info justify-content-between px-3">
    <h1 class="my-0" style="line-height: 0;">
      <a class="navbar-brand py-0" href="/">
        <img src="images/main/logo_F_light.png" width="30" height="30" class="d-inline-block align-top" alt="FALO logo">
        <span class="" style="font-family: 'Trebuchet MS'; font-size: 35px; line-height: 0.9;">Falo</span>
      </a>
    </h1>
    <div class="">
      <a href="/signout" class="btn btn-outline-light">ĐĂNG XUẤT <em class="fas fa-sign-out-alt"></em></a>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row row flex-md-nowrap">
      <div class="col-12 col-md-4 col-xl-3 pt-2">
        <h4> <em class="fas fa-user-alt"></em> <strong>
            <%= user.email %>
          </strong></4>
          <h2>Home page will be here</h2>
          <h4>Account email: <%= user.email %>
          </h4>
          <h4>Account id: <%= user.id %>
          </h4>
          <h4>Account type: <%= user.role %>
          </h4>
      </div>
      <div class="col-12 col-md-8 col-xl-9">
        <h1><strong>WELCOME</strong></h1>
        <h2>Home page will be here</h2>
        <h4>Account email: <%= user.email %>
        </h4>
        <h4>Account id: <%= user.id %>
        </h4>
        <h4>Account type: <%= user.role %>
        </h4>
      </div>
    </div>
  </div>

  <%- include('../link/script.ejs'); %>
    <script type="text/javascript">
      $('body').scrollspy({ target: '#navbar-example' })
      $('[data-spy="scroll"]').each(function () {
        var $spy = $(this).scrollspy('refresh')
      })
      $('[data-spy="scroll"]').on('activate.bs.scrollspy', function () {
        // do something…
      })
    </script>
</body>

</html>