<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../link/head.ejs'); %>
    <title>SIGN IN</title>
</head>

<body class="bg-info text-light" style="height: 100vh;">
  <div class="container-fluid">
    <div class="container pt-3">
      <!-- logo -->
      <%- include('./logo.ejs'); %>

      <div class="row py-3">
        <div class="col-3 d-none d-md-block"></div>
        <div class="col col-md-10 col-lg-6">
          <form action="/signin" method="POST" id="formSign" class="card text-dark">
            <div class="card-header text-center text-info">
              <h2><strong>ĐĂNG NHẬP</strong></h2>
            </div>
            <div class="card-body">
              <%- include('../link/error_mgs.ejs'); %>
              <div class="form-group">
                <label class="col-form-label" for="email">Email: </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><em class="fas fa-at"></em></span>
                  </div>
                  <input class="form-control" type="email" id="email" name="email" placeholder="Enter your email" 
                    <% if(typeof(email) != 'undefined'){%>
                      value= <%= email %> 
                    <% } %>
                  >
                </div>
                <small class="form-text text-danger form-feedback"></small>
              </div>
              <div class="form-group">
                <label class="col-form-label" for="password">Password: </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><em class="fas fa-key"></em></span>
                  </div>
                  <input class="form-control" type="password" id="password" name="password"
                    placeholder="Enter your password">
                </div>
                <small class="form-text text-danger form-feedback"></small>
              </div>
            </div>
            <div class="col text-center">
              <button type="submit" class="col btn btn-info">ĐĂNG NHẬP</button>
              <a href="/signup" class="col my-3 btn btn-outline-secondary">ĐĂNG KÝ TÀI KHOẢN MỚI</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <%- include('../link/script.ejs'); %>
  <script src="/javascripts/form_validate.js"></script>
  <script>
    //validate rules
    validateArray[validateArray.length] = new Validate('formSign')
    inputRequire('formSign', 'email', '*Hãy nhập email của bạn')
    inputRequire('formSign', 'password', '*Hãy nhập mật khẩu của bạn')
    inputRegex('formSign', 'email', /\S+@\S+\.\S+/, '*Email bạn nhập không đúng')
    inputRegex('formSign', 'password', /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&.])[A-Za-z\d@$!%*#?&.]{8,}$/, '*Mật khẩu phải có ít nhất 8 ký tự (bao gồm chữ số và ký tự đặc biệt)')

    function submitForm(formID){
      const index = validateArray.findIndex((arr) => arr.formID == formID)
      const formLegnth = document.forms[formID].length
      const inValid = (validateArray[index].validateRes.length == formLegnth && validateArray[index].validateRes.every(validateRes => validateRes.isValid == true))
      inValid ? document.forms[formID].submit() : console.log(validateArray[index])
    }
  </script>
</body>

</html>